<!DOCTYPE html>
<html lang="en">
    <head>
        <title>News Scraper | Greg Sorkin</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        {{!-- Materialize --}}
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        {{!-- My CSS + Normalize --}}
        <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css"/>
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
    </head>
    <body>
        
        {{{ body }}}

        {{!-- jQuery --}}
        <script src="https://code.jquery.com/jquery.js"></script>
    </body>
</html>