body {
    background: url("../img/seamless-pattern-of-circuit-board-2370.png") repeat;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: .16px;
    flex-direction: row;

}

body img {
    opacity: 0.8;
}